# Introduction

NoSQL databases are a popular alternative to traditional relational databases for handling big data and it offers high scalability, high availability and high flexibility. The course will teach you how to work with NoSQL databases and how to choose the right NoSQL database for your specific needs. 

## Relational databases and tabular data

Before jumping straight on NoSQL DBs let's take a step back with relational databases and tabular data. The most common format you probably encountered in programming is Comma Separated Values (CSV). CSV is a plain text file format used to store tabular data, with each row of the table represented as a separate line in the file and each column separated by a comma or other delimiter.

In [1]:
import pandas as pd

df = pd.read_csv("data/Chap1/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
print(df["sepal.length"])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

In [5]:
print(df.at[0,"sepal.length"])

5.1

In [7]:
print(df.loc[0])

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

In [10]:
df[(df["sepal.length"] > 5) & (df["petal.length"] > 1.2)]

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
10            5.4          3.7           1.5          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[117 rows x 5 columns]

In [11]:
# Iterate over all db

for row in df.iterrows():
    print(row)
    break

(0, sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object)

Yet tabular data are impractical for huge amount of data 

Relational databases are a type of database management system that organize data into one or more tables or relations, with each table consisting of a set of rows and columns. Each row represents a unique record or entity, while each column represents a particular attribute or characteristic of that entity.

In a relational database, the tables are related to each other through common fields or keys. For example, if you have a customer table and an orders table, you could link them through a customer ID field, which would allow you to associate specific orders with specific customers.

Relational databases use a structured query language (SQL) to retrieve and manipulate data. SQL allows users to create, update, delete, and retrieve data from one or more tables based on specific criteria or conditions.

Relational databases offer several advantages, including:

- Data consistency: Data is consistent and standardized across an organization.

- Scalability: Relational databases can handle large amounts of data and can easily scale as data volumes increase (Data not in your RAM).

- Flexibility: Changes to a database structure can be made relatively easily and without disrupting existing applications or data.

- Security: Relational databases offer built-in security features, such as user authentication and access control, to protect sensitive data.

I'll do a short introduction on sqlite3. I think it's a good entry point to SQL since its local and you can still monitor your data visually using [DB Browser](https://sqlitebrowser.org/).

"SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine." [(Official website)](https://www.sqlite.org/index.html). Sqlite3 is a library that provides an api that allows python 3 to interact with your sqlite DB. Incompatibility with python 2 so beware.

You can use [DB browser](https://sqlitebrowser.org/) to check if it worked without going through Python. Sqlite3+DB browser is an easy entry point to SQL (still able to see your data, no server involved). Here is an example of basic operations of SQLite on the iris database. Starting with DB already existing:

In [13]:
import sqlite3

#  Establishes a connection to an SQLite database file. The only argument is the path (If the file does not exist an empty file is created)
conn = sqlite3.connect('data/Chap1/iris.db')

# A cursor in SQL databases is a database object that allows you to retrieve and manipulate a set of data rows returned by a SQL statement, one row at a time.
c = conn.cursor()

In [14]:
# READ query (SQL language), Look at all the iris with sepal length > 5.
c.execute("""SELECT * FROM iris WHERE "petal.length" > 5""")

#%% Two methods to go through your result

# All in RAM
docs = c.fetchall()
print(docs)

[(-2.757979099057751e+18, 2.7, 5.1, 1.6, 'Versicolor'), (6.3, 3.3, 6.0, 2.5, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (7.1, 3, 5.9, 2.1, 'Virginica'), (6.3, 2.9, 5.6, 1.8, 'Virginica'), (6.5, 3, 5.8, 2.2, 'Virginica'), (7.6, 3, 6.6, 2.1, 'Virginica'), (7.3, 2.9, 6.3, 1.8, 'Virginica'), (6.7, 2.5, 5.8, 1.8, 'Virginica'), (7.2, 3.6, 6.1, 2.5, 'Virginica'), (6.5, 3.2, 5.1, 2.0, 'Virginica'), (6.4, 2.7, 5.3, 1.9, 'Virginica'), (6.8, 3, 5.5, 2.1, 'Virginica'), (5.8, 2.8, 5.1, 2.4, 'Virginica'), (6.4, 3.2, 5.3, 2.3, 'Virginica'), (6.5, 3, 5.5, 1.8, 'Virginica'), (7.7, 3.8, 6.7, 2.2, 'Virginica'), (7.7, 2.6, 6.9, 2.3, 'Virginica'), (6.9, 3.2, 5.7, 2.3, 'Virginica'), (7.7, 2.8, 6.7, 2.0, 'Virginica'), (6.7, 3.3, 5.7, 2.1, 'Virginica'), (7.2, 3.2, 6.0, 1.8, 'Virginica'), (6.4, 2.8, 5.6, 2.1, 'Virginica'), (7.2, 3, 5.8, 1.6, 'Virginica'), (7.4, 2.8, 6.1, 1.9, 'Virginica'), (7.9, 3.8, 6.4, 2.0, 'Virginica'), (6.4, 2.8, 5.6, 2.2, 'Virginica'), (6.3, 2.8, 5.1, 1.5, 'Virginica'), (6.1, 2.6, 5.6, 1.4, 'Virginica'), (7.7, 3, 6.1, 2.3, 'Virginica'), (6.3, 3.4, 5.6, 2.4, 'Virginica'), (6.4, 3.1, 5.5, 1.8, 'Virginica'), (6.9, 3.1, 5.4, 2.1, 'Virginica'), (6.7, 3.1, 5.6, 2.4, 'Virginica'), (6.9, 3.1, 5.1, 2.3, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (6.8, 3.2, 5.9, 2.3, 'Virginica'), (6.7, 3.3, 5.7, 2.5, 'Virginica'), (6.7, 3, 5.2, 2.3, 'Virginica'), (6.5, 3, 5.2, 2.0, 'Virginica'), (6.2, 3.4, 5.4, 2.3, 'Virginica'), (5.9, 3, 5.1, 1.8, 'Virginica')]

In [20]:
# Iteration

c.execute("""SELECT * FROM iris WHERE "variety" == "Versicolor" """) #Il faut le dÃ©finir Ã  nouveau car c'est un gÃ©nÃ©rateur sur lequel on peut itÃ©rer une seule fois.

for i in c:
    print(i)
    #break

(-9.833579106720022e+17, 3.2, 4.7, 1.4, 'Versicolor')
(-7.566664635624542e+18, 3.2, 4.5, 1.5, 'Versicolor')
(8.507390705349243e+18, 3.1, 4.9, 1.5, 'Versicolor')
(-7.276727686909505e+18, 2.3, 4.0, 1.3, 'Versicolor')
(6.933193499032503e+18, 2.8, 4.6, 1.5, 'Versicolor')
(6.924714025421496e+18, 2.8, 4.5, 1.3, 'Versicolor')
(-3.2429128959479854e+18, 3.3, 4.7, 1.6, 'Versicolor')
(3.2447710162618926e+18, 2.4, 3.3, 1.0, 'Versicolor')
(-3.003806622160924e+18, 2.9, 4.6, 1.3, 'Versicolor')
(4.336590134801597e+18, 2.7, 3.9, 1.4, 'Versicolor')
(8.051599916547534e+18, 2, 3.5, 1.0, 'Versicolor')
(-3.598761753525065e+18, 3, 4.2, 1.5, 'Versicolor')
(3.5195589305973903e+18, 2.2, 4.0, 1.0, 'Versicolor')
(1.3991977842605768e+18, 2.9, 4.7, 1.4, 'Versicolor')
(-6.166966792254185e+18, 2.9, 3.6, 1.3, 'Versicolor')
(3.7947894902070973e+18, 3.1, 4.4, 1.4, 'Versicolor')
(-6.454790507666328e+17, 3, 4.5, 1.5, 'Versicolor')
(5.340089148793999e+18, 2.7, 4.1, 1.0, 'Versicolor')
(-7.500742932473346e+18, 2.2, 4.5, 1.5, 'Versicolor')
(2.8931065415056486e+18, 2.5, 3.9, 1.1, 'Versicolor')
(2.6103047028309463e+18, 3.2, 4.8, 1.8, 'Versicolor')
(-3.646871074980443e+18, 2.8, 4.0, 1.3, 'Versicolor')
(-7.817982680850796e+18, 2.5, 4.9, 1.5, 'Versicolor')
(-3.1830084275671946e+18, 2.8, 4.7, 1.2, 'Versicolor')
(2.137872175010076e+18, 2.9, 4.3, 1.3, 'Versicolor')
(-8.544611300218413e+18, 3, 4.4, 1.4, 'Versicolor')
(4.3819850454025815e+18, 2.8, 4.8, 1.4, 'Versicolor')
(-3.6119161259810386e+18, 3, 5.0, 1.7, 'Versicolor')
(6.699248152770986e+18, 2.9, 4.5, 1.5, 'Versicolor')
(-5.266284981053659e+18, 2.6, 3.5, 1.0, 'Versicolor')
(3.444459329945208e+18, 2.4, 3.8, 1.1, 'Versicolor')
(-7.533616460865654e+18, 2.4, 3.7, 1.0, 'Versicolor')
(-4.650821194888992e+18, 2.7, 3.9, 1.2, 'Versicolor')
(-4.2092889814437934e+18, 2.7, 5.1, 1.6, 'Versicolor')
(-8.423509240020566e+18, 3, 4.5, 1.5, 'Versicolor')
(-2.560993348252819e+18, 3.4, 4.5, 1.6, 'Versicolor')
(3.8178074309340447e+18, 3.1, 4.7, 1.5, 'Versicolor')
(-6.957794235566465e+18, 2.3, 4.4, 1.3, 'Versicolor')
(6.961421928588889e+18, 3, 4.1, 1.3, 'Versicolor')
(8.361538104975007e+18, 2.5, 4.0, 1.3, 'Versicolor')
(-9.109128317920893e+18, 2.6, 4.4, 1.2, 'Versicolor')
(-3.154034096523869e+18, 3, 4.6, 1.4, 'Versicolor')
(-5.884074412789167e+18, 2.6, 4.0, 1.2, 'Versicolor')
(-1.6455104568120093e+17, 2.3, 3.3, 1.0, 'Versicolor')
(6.521784885400461e+18, 2.7, 4.2, 1.3, 'Versicolor')
(7.591631588779523e+18, 3, 4.2, 1.2, 'Versicolor')
(6.94853790919699e+18, 2.9, 4.2, 1.3, 'Versicolor')
(-3.4792868582159447e+18, 2.9, 4.3, 1.3, 'Versicolor')
(7.561965619829356e+18, 2.5, 3.0, 1.1, 'Versicolor')
(1.8324546223815186e+18, 2.8, 4.1, 1.3, 'Versicolor')

In [17]:
# UPDATE

c.execute("""UPDATE iris
             SET "sepal.length" = 3
             WHERE variety == "Versicolor" """)

conn.commit() #NÃ©cessaire pour que les commandes soit effectuÃ©es

In [19]:
c.execute("""UPDATE iris
             SET "sepal.length" = random()+1
             WHERE variety == "Versicolor" """)

conn.commit()

In [7]:
# DELETE

c.execute("""DELETE FROM iris WHERE "sepal.length" > 5""")

#conn.commit() warning it will alter your db

Now if the Database does not exist we can create it the following way

In [21]:
import tqdm
import sqlite3
import pandas as pd

df = pd.read_csv('data/Chap1/iris.csv')

conn = sqlite3.connect('data/Chap1/iris_manual.db')
c = conn.cursor()

# Simple function to create table

def create_table_iris():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS iris(id INT PRIMARY KEY, "sepal.length" FLOAT, "sepal.width" FLOAT,
                     "petal.length" FLOAT, "petal.width" FLOAT, variety TEXT)""")
        # When an index is created on a column, the database system creates a data structure that contains a sorted copy of the column's values. 
        # This allows the database system to perform data retrieval operations more quickly than if it had to scan the entire table every time a query was executed.
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_iris()

no such table: main.id

In [22]:
# One by one

query = """INSERT INTO iris(id, "sepal.length", "sepal.width", "petal.length", "petal.width", variety) VALUES (?,?,?,?,?,?)"""

for row in tqdm.tqdm(df.iterrows()):
    id_ = row[0] #not sure I understand how the id is generated as it is not in iris.csv
    sepal_length = row[1]["sepal.length"]
    sepal_width = row[1]["sepal.width"]
    petal_length = row[1]["petal.length"]
    petal_width = row[1]["petal.width"]
    variety = row[1]["variety"]
    values = (id_, sepal_length, sepal_width, petal_length, petal_width, variety)
    c.execute(query, values)
    conn.commit()

150it [00:00, 272.49it/s]

In [23]:
conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

# Simple function to create table

def create_table_benchmark():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test(id INT PRIMARY KEY)""")
        # When an index is created on a column, the database system creates a data structure that contains a sorted copy of the column's values. 
        # This allows the database system to perform data retrieval operations more quickly than if it had to scan the entire table every time a query was executed.
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_benchmark()


query = """INSERT INTO test(id) VALUES (?)"""

for i in tqdm.tqdm(range(0,1000000,1)):
    values = (i,)
    c.execute(query, values)
    conn.commit()

no such table: main.id

  1%|          | 9068/1000000 [00:31<56:56, 290.02it/s]

KeyboardInterrupt:

In [24]:
conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

def create_table_benchmark():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test2(id INT PRIMARY KEY)""")
        # When an index is created on a column, the database system creates a data structure that contains a sorted copy of the column's values. 
        # This allows the database system to perform data retrieval operations more quickly than if it had to scan the entire table every time a query was executed.
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_benchmark()

query = """INSERT INTO test2(id) VALUES (?)"""


list_of_insertion = []
for i in tqdm.tqdm(range(0,1000000,1)):
    values = (i,)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000: #Why 10,000 and not 1,000,000? Parce qu'on lui demande d'Ã©crire dans la base chaque fois qu'il y a 10,000 valeurs dans la rame.
        c.executemany(query, list_of_insertion) #infiniment plus rapide que les commandes ligne par ligne
        conn.commit()
        list_of_insertion = []

no such table: main.id

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000000/1000000 [00:06<00:00, 154671.80it/s]

Here are some desc stats you can do using SQL language

In [25]:
# Aggreagte function

import sqlite3

conn = sqlite3.connect('data/Chap1/iris_manual.db')
c = conn.cursor()

c.execute("""SELECT "petal.length", variety, AVG("petal.width"), SUM("petal.width"), COUNT("petal.width"), MIN("petal.width"), MAX("petal.width")
             FROM iris 
             GROUP BY variety
             """)

docs = c.fetchall()
print(docs)

[(1.6, 'Setosa', 0.2459999999999999, 12.299999999999995, 50, 0.1, 0.6), (4.8, 'Versicolor', 1.3259999999999998, 66.3, 50, 1.0, 1.8), (6.0, 'Virginica', 2.026, 101.29999999999998, 50, 1.4, 2.5)]

Data won't be this clean in your day-to-day job. Let us take an example of a research article each observation can have different length of authors/references/...

In [26]:
# Init variables
authors = ["Auteur1","Auteur2","Auteur3"]
title = "This is paper 1"
affiliations = ["University of Mannheim","University of Strasbourg"]
ref = ["This is ref 1","This is ref 2","This is ref 3"]

In [29]:
# Collapse list

authors = "\n".join(authors)
print(authors)

Auteur1
Auteur2
Auteur3

In [27]:
aff = "\n".join(affiliations)
print(aff)

University of Mannheim
University of Strasbourg

In [28]:
ref = "\n".join(ref)
print(ref)

This is ref 1
This is ref 2
This is ref 3

In [30]:
# Create the DB
import sqlite3

# connect to your db, if it does not exists it creates it.
conn = sqlite3.connect('data/Chap1/tuts.db')

c = conn.cursor()

# Simple function to create table

def create_table_test():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test(id INT PRIMARY KEY, authors TEXT,
                    title TEXT, affiliations TEXT, ref TEXT)""")
        # Index to do query faster
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_test()

no such table: main.id

In [31]:
# SQL can be finicky when trying to insert using python, big difference between " and '
query = """INSERT INTO test(id, authors, title, affiliations, ref) VALUES (?,?,?,?,?)"""
values = (3, authors, title, aff, ref)
c.execute(query, values)
conn.commit()

[Here]( https://www.sqltutorial.org/sql-cheat-sheet/) are some cheat sheet for SQL querys.

SQLite is really useful to learn the language but chances are you will work with an online server and will need to use things like MySQL, Oracle, PostgreSQL,...
The language is always (almost) the same but the way you will connect and run query might change.

Let's just do a simple example of MySQL:

From here https://dev.mysql.com/downloads/ you need to DL the community server, the workbench and the python connector. Once they are all installed and the server is up and running you should be able to run the next code

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

print(mydb) 

c = mydb.cursor()

c.execute("CREATE DATABASE mydatabase")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A7BFC0DA00>

If a database already exist you can connect directly to it

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="mydatabase"
)

c = mydb.cursor()

c.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

You can now look at the DB in the workbench and execute query as seen in SQLite

A csv (or RDBMS) works but is it really efficient ? Imagine a scenario with even more nested data (each author has an aff, an aff can have a list a members, each members has an age, ...).You could create different tables but each time you will need to join information of this different tables. That's where NoSQL comes in to save the day.


Modifying the architecture in SQL is clunky. A lot of time is invested designing the data model because changes will impact all or most of the layers in the application.

NoSQL is:
- Meant for unstructured data.
- Designed to manage lots of traffic and data.
- Has no predefined schema.
- Easy to query.

Because of the context (Big Data), Unstructured data has become more and more present hence the interest in NoSQL. Indeed JSON (more on that in chapter I) data is the commonly used data format in Javascript and Javascript is present everywhere in almost every web page (dynamic vs static).

The biggest advantage of NoSQL is that you get to skip the "understand your data and usage patterns" steps. But is it really an advantage ?

NoSQL cons:
- Don't really know what you are working with
- Multiplicity of different DB (Meaning different "language" for some)
- Flexible but can become messy so watch out

IMO: Use SQL when you have a Static data flow or the change in the data is not regular and if the data fits in a row-column format. It's always better to have a good structure even if it asks to put a lot of work before hand. If you need flexibility or the data is really nested using Nosql DBs reduces the need for joins and lookups, making your queries faster.

<p style="text-align: center;"><b>Proportion of DBs usage</b></p>

![test](./img/DB_piechart.png "Title")

Nothing new but we are surrounded by a lot of data, information flows faster than ever (i.e: big data). But what exactly is the type of data we get in huge quantity ? Text, Networks, Sound, Image, ...

## What is NoSQL ? SQL vs NoSQL

NoSQL stands for "Not only SQL", every database that does not use SQL (Structured Query Language) is called NoSQL even though every NoSQL DB does not work the same way. The difference between SQL and NoSQL databases is really just a comparison of relational vs. non-relational databases. Deciding when to use SQL vs. NoSQL depends on the kind of information youâ€™re storing and the best way to store it. Both types store data, they just store data differently.
Imagine you have a list of variables for research papers. authors, affiliations, title, references. How do you store it in a csv ?

The popularity of DBs using SQL is still high (3/4). In your opinion why ?

<p style="text-align: center;"><b>Non exhaustive list of companies using NoSQL</b></p>

<table><tr>
<td> <img src="./img/Google.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Amazon logo.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Facebook.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Mozilla.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/netflix.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Twitter.png" alt="Drawing" style="width: 150px;"/> </td>
</tr></table>

Think before using one or the other.

Before jumping into NoSQL directly we will take a look at what a unstructured data format looks like.

Les fonctions CRED suffisent

# Exercise

**TODO 1**: Read all the data from bc.csv, how many rows is there ? Columns ?

In [1]:
import pandas as pd

df = pd.read_csv("data/Chap1/bc.csv")
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

Numbers of rows and columns can be read below the data frame: 569 rows Ã— 33 columns

**TODO 2**: Insert the bc.csv in the sqlite format.

In [2]:
import sqlite3

# Establishes a connection to an SQLite database file. The only argument is the path (If the file does not exist an empty file is created)
conn = sqlite3.connect('data/Chap1/bc.db')

# A cursor in SQL databases is a database object that allows you to retrieve and manipulate a set of data rows returned by a SQL statement, one row at a time.
c = conn.cursor()

Then go on to SQLite to import bc.csv as a new table.

**TODO 3**: In the same db create a new table called tomatch with two variables id_ and rdm_float.

In [3]:
# Simple function to create table tomatch

def create_table_tomatch():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS tomatch(id_ INT PRIMARY KEY, 
                     "rdm_float" FLOAT)""")
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table_tomatch()

no such table: main.id

**TODO 4**: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a float random for each observation.

In [4]:
import tqdm
import random

query = """INSERT INTO tomatch(id_, rdm_float) VALUES (?,?)"""

list_of_insertion = []
rdm_float = 0
for i in tqdm.tqdm(range(50000,10000000,2)):
    rdm_float = round(random.uniform(0, 100), 2)
    values = (i, rdm_float)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        conn.commit()
        list_of_insertion = []

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4975000/4975000 [00:30<00:00, 165308.25it/s]

**TODO 5**: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

In [20]:
c.execute("""SELECT AVG("radius_mean"), SUM("radius_mean"), COUNT("radius_mean"), MIN("radius_mean"), MAX("radius_mean")
             FROM bc
             INNER JOIN tomatch ON bc.id = tomatch.id_""")

docs = c.fetchall()
print(docs)

[(13.997218106995879, 3401.3239999999987, 243, 6.981, 27.22)]

**TODO 6**: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

In [6]:
c.execute("""SELECT * FROM bc WHERE "radius_mean" > 15 """)

n = 0
for i in c:
    n = n + 1

print(n)

173

In [7]:
c.execute("""SELECT * FROM bc WHERE "radius_mean" > 15
             INTERSECT
             SELECT * FROM bc WHERE "texture_mean" > 20""")

n = 0
for i in c:
    n = n + 1

print(n)

106

In [27]:
#Another way to do it with AND instead of INTERSECT:

c.execute("""SELECT * FROM bc 
             WHERE "radius_mean" > 15
                AND "texture_mean" > 20""")

n = 0
for i in c:
    n = n + 1

print(n)

106

**TODO 7**: For each category in diagnosis do the mean of a variable and round it to get only 2 numbers after the comma. Compute the difference between the mean of both groups

In [8]:
c.execute("""SELECT "diagnosis", ROUND(AVG("radius_mean"), 2)
             FROM bc 
             GROUP BY "diagnosis"
             """)

docs = c.fetchall()
print(docs)

[('B', 12.15), ('M', 17.46)]

In [9]:
#Compute the difference between the mean of both groups with python (it might not be the cleanest way to do it):
abs(docs[0][1]-docs[1][1])

5.3100000000000005

**TODO 8**: Change the name of the column "diagnosis" to "label"

In [10]:
c.execute("""ALTER TABLE bc 
             RENAME COLUMN diagnosis TO label""")

conn.commit()

**TODO 9**: Change the type of the column "area_mean" to int (hint, not possible on sqlite, create a new column)

In [11]:
c.execute("""ALTER TABLE bc
             ADD COLUMN "area_mean_int" INT""")

conn.commit()

#Copy the column "area_mean" as an integer in the new column "area_mean_int":
c.execute("""UPDATE bc
             SET "area_mean_int" = CAST("area_mean" AS INT)""")

conn.commit()

**TODO 10**: Add a column named "day" of type DATE.

In [12]:
c.execute("""ALTER TABLE bc
             ADD COLUMN "day" DATE""")

conn.commit()

**TODO 11**: create a new table called tomatch2 exactly the same way as tomatch except you increment id_ by 10.

In [13]:
# Simple function to create table tomatch2

def create_table_tomatch2():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS tomatch2(id_ INT PRIMARY KEY, 
                     "rdm_float" FLOAT)""")
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table_tomatch2()

no such table: main.id

In [14]:
#query and loop to insert values into table tomatch2

import tqdm
import random

query = """INSERT INTO tomatch2(id_, rdm_float) VALUES (?,?)"""

list_of_insertion = []
rdm_float = 0
for i in tqdm.tqdm(range(50000,10000000,10)):
    rdm_float = round(random.uniform(0, 100), 2)
    values = (i, rdm_float)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        conn.commit()
        list_of_insertion = []

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 995000/995000 [00:06<00:00, 146847.54it/s]

**TODO 12**: Do an inner join of bc, tomatch and tomatch2 where the radius_mean is greater than 15, and the rdm_float is greater than 50 in tomatch AND tomatch2.

In [26]:
c.execute("""SELECT bc.id, bc.radius_mean, tomatch.id_, tomatch.rdm_float, tomatch2.id_, tomatch2.rdm_float
             FROM bc
                INNER JOIN tomatch ON bc.id = tomatch.id_
                INNER JOIN tomatch2 ON tomatch.id_ = tomatch2.id_
             WHERE bc.radius_mean > 15
                AND tomatch.rdm_float > 50
                AND tomatch2.rdm_float > 50""")

for i in c:
    print(i)

(879830, 17.01, 879830, 54.08, 879830, 89.36)
(895100, 20.34, 895100, 77.2, 895100, 72.41)
(915460, 15.46, 915460, 77.01, 915460, 87.21)